<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
</head>

<body>
  <h2>Login</h2>
  <div class="signup-form">
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-paper-plane"></i>
        </span>
        <%= f.email_field :email, 
          class: 'form-control', 
          placeholder: 'Email Address',
          required: true 
        %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
        </span>
        <%= f.password_field :password, 
          class: 'form-control', 
          placeholder: 'Password',
          required: true 
        %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Remember me on this computer</span>
    </div>

    <% end %>
    <div class="form-group">
      <%= f.submit" Log in", class:" btn btn-primary btn-block btn-lg" %>
    </div>
    <%= link_to "forgot password", new_password_reset_path %>
    <% end %>
    <div class="text-center">New user?
      <%= link_to "Sign up now!", signup_path %>
    </div>
  </div>

</body>

</html>